
<div class="container">
    <h2 class="title">Users List</h2>
  
    <table class="user-table" *ngIf="users.length > 0; else noData">
      <thead>
        <tr>
          <th>S. NO</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Mobile-Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.userRole }}</td>
          <td>{{ user.mobileNumber }}</td>
          <td>
            <button class="delete-btn" (click)="deleteUser(user.userId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #noData>
      <p>No user data available.</p>
    </ng-template>
  </div>
  