<div class="home-container">
    <section class="hero">
      <div class="overlay">
        <h1>SMART MART</h1>
        <p>
          Smart Mart is your ultimate destination for a seamless and smarter shopping experience.
          Designed with convenience and innovation at its core, Smart Mart combines advanced technology
          and thoughtful design to cater to all your shopping needs. From <span>daily essentials</span>
          to <span>specialty products</span>, Smart Mart ensures a wide variety of choices, personalized
          recommendations, and exclusive deals to make your shopping not just easy but enjoyable.
          Our intuitive interface, real-time inventory updates, and hassle-free checkout processes
          save you time and effort, so you can focus on what matters most.
        </p>
      </div>
    </section>
  </div>
